<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FoodTracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row align-items-center h-100">
        <div class="col-md-8 offset-md-5">
            <form th:action="@{/parameters}" th:object="${parameters}" method="post">
                <p style="color: black">Enter your parameters:</p>
                <div class="col-sm-4 my-auto">
                    <input  type="text" class="form-control" th:field="*{activityLevel}" placeholder="ActivityLevel"/>
                    <p style="color: darkred" th:if="${#fields.hasErrors('activityLevel')}" th:errors="*{activityLevel}"></p><p></p>
                    <input  type="text" class="form-control" th:field="*{age}" placeholder="Age"/>
                    <p style="color: darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p><p></p>
                    <input   type="text" class="form-control" th:field="*{height}" placeholder="Height"/>
                    <p style="color: darkred" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></p><p></p>
                    <input   type="text" class="form-control" th:field="*{weight}" placeholder="Weight"/>
                    <p style="color: darkred" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></p>
                    <div class="d-grid gap-2">
                        <p></p>
                        <p style="color: green" th:text="${result}"></p>
                        <button class="btn btn-primary" >Calculate</button>
                        <button class="form-control"><a href="/home">Next</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>